.programme-jours .wp-block-group__inner-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
@media screen and (min-width: 1000px) {
    .programme-jours .wp-block-group__inner-container{
        grid-template-columns: 1fr 1fr;
    }
    
}
.programme-jours .wp-block-group__inner-container > div > div{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--darkblue);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    gap: 0;
}
.programme-jours .wp-block-group__inner-container > div > div h3{
    background-color: var(--darkblue);
    color: var(--white);
    margin: 0;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    text-align: center;
    line-height: 1;
}
.programme-jours .wp-block-group__inner-container > div > div h3 em{
    font-size: 12px;
    font-weight: 400;
    font-family: var(--sansfont);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-style: normal;
}
.programme-jours .wp-block-group__inner-container > div > div p{
    margin: 0;
    padding: 20px;
}
.programme-jours .wp-block-group__inner-container > div > div .wp-block-table{
    width: 90%;
    margin: 20px auto;
}
.programme-jours .wp-block-table td, 
.programme-jours .wp-block-table th{
    border: 0;
}
.programme-jours .wp-block-table th:first-child,
.programme-jours .wp-block-table td:first-child{
    text-align: right;
    width: 70px;
}