
/* variables
--------------------------------------------- */
:root{
    --white: #fff;
    --black: #000;
    
    --yellowlight: #FFF5A9;
    --yellow: #FFC932;
    --yellowhover: #FE8523;
  
  
    --textblue: #0E414E;    /* Text Blue / Texts & buttons */
    --textbuehover: #70AEDD; /* Text Blue Hover / Texts links & buttons hover */
    --darkblue: #003746; /*  Dark Blue / Bg boxes on blue bg */
    --ultradarkblue: #062127; /*  Ultra Dark Blue / Bg boxes on blue bg */
    --softblue: #00B1C3; /* Soft Blue / Bg boxes on white bg */
    --softbluehover: #007B88; /* Soft Blue / Bg boxes on white bg */
    --softbluelight: #00E7FF; /* Soft Blue Light / Bg boxes on white bg */
    --mediumblue: #005469; /* Medium Blue / Bg boxes on white bg */
    --lightblue: #D6E8F5; /* Light Blue / Bg forms & subnav */
  
  
  
    
    --redlight: #EF4E42; 
    --red: #E93531; /* Red / Main menu active links */
    --redhover: #BF2F33;
  
  
    --titlefont: 'Refrigerator Extrabold', Impact, 'Arial Narrow Bold', Arial, sans-serif;
    --sansfont: 'Cabin', sans-serif;
    --serifont: var(--titlefont);
  
    --sansnormalweight: 400;
    --sansboldweight: 700;
    --serifnormalweight: 400;
    --serifboldweight: 700;
  
    --borderradius: 8px;
  }